@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.container-home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-home {
    width: 300px;
}

.container-cards {
    height: auto;
    border: solid 1px;
}

.container-cards .title {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    border-bottom: solid 1px;
}

.container-cards .optional-cards {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container-cards .card-atras {
    display: flex;
    justify-content: center;
}

.container-cards .ob-cards {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: solid 1px;
}

.btn-add {
    display: flex;
    justify-content: center;
    position: relative;
}

.btn-add button{
    position: absolute;
}


img {
    width: 15%;
    height: 15%;
    padding: 5px;
}

img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 1px 13px rgba(0, 0, 0, 0.1));
}

.bi-check-circle-fill::before{
    color: green;
    font-size: 42px;
}

.bi-x-circle::before{
    color: red;
    font-size: 42px;
}